.custom-nav-color {
  background-color : #13005A;
}

.hero-img {
  object-fit : cover;
}

.font-weight-bold {
  font-weight: bold;
}

.text-indent {
  text-indent: 45px;
}

.text-align-justify {
  align: justify;
}